.generator__container {
  height: auto;
  width: 18.75rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}

.generator__container h1 {
  font-size: var(--size-2xl);
  margin-bottom: var(--size-xxs);
}

.generator__input {
  width: 100%;
  margin-top: var(--size-l);
}

.qr-code__contianer {
  display: flex;
  flex-direction: column;
}

.qr-code {
  width: 100%;
  height: 100%;
  padding: 3rem;
  border-radius: 10px;
  background-color: #4378e9;
}

.qr-code__btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.8rem;
}

.btn-genet {
  margin-top: var(--size-xl);
}