.scanner__container {
  height: auto;
  width: 18.75rem;
  margin: 0 auto;
  padding: 1rem;
  
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow:
  0px 0.6px 3.1px rgba(0, 0, 0, 0.125),
  0px 5px 25px rgba(0, 0, 0, 0.25)
  ;
}

.scan-title {
  font-size: var(--size-2xl);
  margin-bottom: var(--size-xxs);
  text-align: center;
}

.qrReader__data {
  margin-top: 1rem;
  text-align: center;
}

.qr-scanner__btns {
  display: grid;
  margin-top: var(--size-xl);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8rem;
}

.btn-scan {
  grid-column: span 2;
}

.result__container {
  position: relative;
  width: 90dvw;
  height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow:
  0px 2.6px 3.1px rgba(0, 0, 0, 0.125),
  0px 21px 25px rgba(0, 0, 0, 0.25)
  ;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-result {
  position: absolute;
  top: 300px;
  right: var(--size-base);
}

.fieldset-top {
  margin-top: var(--size-3xl);
}

.result__img {
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.result__likesDislikes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-result {
  padding-inline: 1rem;
  margin: 1rem 0;
  margin-left: auto;
}

fieldset {
  width: 100%;
  margin-top: 20px;
  padding: 25px;
  color: var(--clr-dark);
  border:  2px solid #ccc;
  border-radius: 5px;
}
legend {
  position:relative;
  top: -12px;
  padding: 0 18px;
  border:  2px solid #ccc;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
legend span {
  position:relative;
  top: 8px;
}


/* Birthday Wrapper, Containers, and Elements */
.birthday-wrapper {
  position: relative;
  width: 90dvw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow:
  0px 2.6px 3.1px rgba(0, 0, 0, 0.125),
  0px 21px 25px rgba(0, 0, 0, 0.25)
  ;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
}

.birthday-wrapper p:nth-of-type(1) {
  padding-inline: 0.5rem;
  background-color: pink;
}

.birthday-wrapper p:nth-of-type(3) {
  width: 30ch;
  text-align: center;
  font-size: 14px;
}

.birthday-wrapper p:nth-of-type(4) {
  margin-bottom: 0.5rem;
  background-color: rgb(192, 248, 255);
}

.birthday-wrapper p:nth-of-type(n+5):nth-of-type(-n+12) {
  text-align: center;
  font-size: 14px;
}

.birthday-wrapper p:nth-of-type(13) {
  margin-bottom: 0.5rem;
  background-color: rgb(253, 192, 255);
}

.birthday-wrapper p:nth-of-type(n+14):nth-of-type(-n+23) {
  text-align: center;
  font-size: 14px;
}

.birthday__title {
  width: 100%;
  padding: 1rem;
  border-radius: 20px 20px 0 0;
  text-align: center;
  background-color: rgb(56, 48, 48);
  color: pink;
}

.birthday__picture-wrapper {
  width: 100%;
  padding: 1rem;
}

.birthday__picture {
  width: 100%;
  padding: 1rem;
  border: 1px dashed black
}


.birthday__footer {
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  text-align: center;
  background-color: rgb(56, 48, 48);
  color: pink;
}


@media (min-width: 400px) {
  .result__likesDislikes {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 1280px) {
  .result__container {
    width: 70dvw;
    padding: 3rem;
  }
  .btn-result {
    top: var(--size-5xl);
    right: var(--size-5xl);
  }
}